{% extends "home.html" %} {% block content%}
<section class="spacing"></section>


  <div class="container">
    <h4>About the Application</h4>
    <p>
      Minesweeper improved contains the classic minesweeper we all know and love, but with a twist.
      Multiplayer options allow for the player to compete side by side with the computer, with an
      array of difficulties and skill levels. The computer is designed to be competitive, and is capable
      of making mistakes when guessing.
    </p>
    <h4>About the AI / Minesweeper strategy</h4>
    <p>
      
    </p>
    <h4>Game Details</h4>
    <p>
      Some words
    </p>
  </div>

{% endblock %}
