<!DOCTYPE html>
<html>
  <head>
    <title>Minesweeper Improved</title>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <header class = "Title">
      <h1 class = "Title"><center>Minesweeper IMPROVED</center></h1>
      <center>
        <nav>
          <ul class = "nav">
            <li><a href = "/">Home</a></li>
            <li><a href = "">Scores</a></li>
            <li><a href = "">About</a></li>
          </ul>
        </nav>
      </center>
    </header>
    {% block content %}
    <section class="spacing">


    </section>
    <center><h2 class = "homeabout">Classic Minesweeper... but way cooler</h2></center>
    <center>

    <section class="screenshots">
      <img src="/static/images/multiplayer.png"></img>
      <img src="/static/images/mainWindow.png"></img>
      <img src="/static/images/singleplayer.png"></img>
    </section>

    </center>


    {% endblock %}

    <footer>
      <center><p>Andrew Thompson</p></center>

    </footer>
  </body>
</html>
